:host {
    position: absolute;
    z-index: 200;

    transition: opacity 0.15s ease-in-out, translate 0.15s ease-in-out, left 0.15s ease-in-out, top 0.15s ease-in-out;
    opacity: 1;
    translate: 0px 0px;

    /* Animate from hidden and slightly  */
    @starting-style {
        opacity: 0;
        translate: 0px -20px;
    }
}

.selection-popup {
    display: flex;
    flex-direction: column;

    /* Fixed values also defined as constants in the component itself!!! */
    max-height: 320px;
    width: 280px;

    border: 1px solid var(--potatno-color-border);
    border-radius: 2px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.28);
    background-color: var(--potatno-color-background);
    overflow: hidden;

    /* Font should cascade into child ... except inputs :( */
    font-family: var(--potatno-font-family);
    font-size: var(--potatno-font-size);

    .selection-popup__search {
        width: 100%;
        box-sizing: border-box;
        padding: 8px 10px;
        outline: none;

        /* Mistreat border as fake background. */
        border: 5px solid var(--potatno-color-background-light);

        color: var(--potatno-color-text);
        background-color: var(--potatno-color-background);

        font-family: var(--potatno-font-family);
        font-size: var(--potatno-font-size);
    }

    .selection-popup__results {
        max-height: 280px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 4px 0;
        border-top: 2px solid var(--potatno-color-accent);

        scrollbar-color: var(--potatno-color-scrollbar-thumb) var(--potatno-color-scrollbar-track);
        scrollbar-width: thin;
    }

    .selection-popup__result {
        --item-color: var(--potatno-color-text);

        display: flex;
        box-sizing: border-box;
        width: 100%;
        padding: 5px 9px;
        align-items: center;
        color: var(--potatno-color-text);
        text-align: left;
        cursor: pointer;

        transition: scale 0.15s;

        &:hover,
        &.selected {
            background-color: var(--potatno-color-background-light);
        }

        &:active {
            scale: 0.98;
        }

        .selection-popup__result-icon {
            display: flex;
            align-items: center;
            padding: 0 10px;
            width: 1ch;
            height: 25px;

            color: var(--potatno-color-accent);
            border-left: 3px solid var(--item-color);
        }

        .selection-popup__result-label {
            flex: 1;
            padding: 0 8px 0 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .selection-popup__result-category {
            flex-shrink: 0;
            font-size: var(--potatno-font-size-small);
            text-transform: capitalize;

            /* Darken text color by mixing in the background colorl */
            color: color-mix(in srgb, var(--potatno-color-text) 50%, var(--potatno-color-background-dark));
        }
    }

    .selection-popup__empty {
        padding: 14px 10px;
        text-align: center;
        font-size: var(--potatno-font-size-small);

        /* Darken text color by mixing in the background colorl */
        color: color-mix(in srgb, var(--potatno-color-text) 50%, var(--potatno-color-background-dark));
    }
}