:host {
    --list-item-bar-default-color: red;
    --list-item-icon-color: red;
    --list-item-background-color: red;
    --list-item-border-radius: 4px;

    display: flex;
    box-sizing: border-box;
    align-items: stretch;

    padding: 0.4em 0.6em 0.4em 0.8em;
}

.icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 0 0.8em;
    color: var(--list-item-icon-color);
    font-weight: bold;

    /* Use icons left border as a destinct colored "bar" */
    border-left: 0.25em solid var(--list-item-bar-color, var(--list-item-bar-default-color));
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 0;
}

/*
 * Shit again. Use hosts attribute as styling.
 */
:host([selectable]:not([selectable='false'])) {
    cursor: pointer;
    padding: 0.3em 0.6em 0.3em 0.5em;
    border-radius: var(--list-item-border-radius);
    transition: background-color 0.15s, scale 0.15s;
}

:host([selectable]:not([selectable='false']):hover),
:host([selectable]:not([selectable='false']):active),
:host([selectable]:not([selectable='false'])[selected]:not([selected='false'])) {
    background-color: var(--list-item-background-color);
}

:host([selectable]:not([selectable='false']):active) {
    scale: 0.98;
}
