:host {
    display: block;
    font-family: var(--potatno-font-family);

    /* Snappy animation on movement. */
    transition: var(--potatno-position-snap-animation);
}

.node {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--potatno-color-background-dark);
    border: 1px solid var(--potatno-color-border);
    border-radius: var(--potatno-border-radius);
    padding: 4px;

    /* Fixed node width */
    width: calc(var(--potatno-grid-size) * 6);

    overflow: visible;
    user-select: none;

    &.error {
        box-shadow: 0 0 0px 2px var(--potatno-color-error);
    }

    .node__glow {
        position: absolute;
        top: calc(var(--potatno-grid-size) / 2);
        width: 100%;
        height: 0px;

        /* Allways on back */
        z-index: -1;

        box-shadow: 0 0 20px 10px var(--node-category-color);
    }
}

.node-header {
    display: flex;
    align-items: center;
    color: var(--potatno-color-text);
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    cursor: grab;

    /* Same border radius as node, because we cant set overflow hidden on parent. */
    border: 1px solid var(--node-category-color);
    border-radius: var(--potatno-border-radius);

    /* Adjust -2px because node itself has a top border of 1px and the header a border on bottom. */
    margin: 0 0 4px 0;
    height: calc(var(--potatno-grid-size) - 2px);
    /* 2: Border */

    /* Animated background of header */
    background-image: linear-gradient(90deg, var(--potatno-color-background-dark) 0%, var(--potatno-color-background) 100%);

    &:active {
        cursor: grabbing;
    }

    .node-header__bar {
        width: 4px;
        height: calc(100% - 10px);
        margin: 0 0 0 8px;
        background-color: var(--node-category-color);

        transition: box-shadow 0.15s ease-in, background-color 0.15s ease-in;

        .node-header:hover & {
            background-color: color-mix(in srgb, var(--node-category-color) 70%, #fff);
            box-shadow: 7px 0px 40px 15px var(--node-category-color);
        }

        .node-header:active & {
            background-color: color-mix(in srgb, var(--node-category-color) 50%, #fff);
            box-shadow: 20px 0px 55px 28px var(--node-category-color);
        }
    }

    .node-header__icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--potatno-grid-size) - 2px);

        /* That centers a single character at its center line. */
        line-height: 0;
    }

    .node-header__label {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: calc(var(--potatno-grid-size) - 2px);
    }

    .node-header__open-function {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        width: calc(var(--potatno-grid-size) - 2px);
        font-size: 14px;
        cursor: pointer;

        /* Small cool seperator */
        border: 0px solid var(--potatno-color-border);
        border-width: 0 0 0 2px;

        /* Click and hover animation */
        transition: opacity 0.15s, scale 0.15s;

        &:hover {
            opacity: 0.75;
        }

        &:active {
            opacity: 0.5;
            scale: 0.98;
        }
    }
}

.node-body {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--potatno-color-background);
    border: 1px solid var(--potatno-color-border);
    border-radius: var(--potatno-border-radius);

    overflow: visible;
    user-select: none;

    &.error {
        box-shadow: 0 0 0px 2px var(--potatno-color-error);
    }
}

.node-ports {
    flex: 1;
    display: flex;
    gap: 0 20px;

    .node-ports__list {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 0;
    }
}

.node-preview-toggle {
    position: relative;
    display: block;
    height: calc(var(--potatno-grid-size) / 2);
    background-color: var(--potatno-color-background);
    cursor: pointer;

    --preview-toggle-icon-color: var(--potatno-color-border);

    /* Click animation. */
    transition: background-color 0.15s, translate 0.15s;

    &.active {
        --preview-toggle-icon-color: var(--potatno-color-accent);
    }

    &:hover {
        background-color: var(--potatno-color-background-light);
    }

    &:active {
        background-color: var(--potatno-color-background-dark);
        translate: 0 1px;
    }

    .icon {
        position: absolute;
        box-sizing: border-box;
        left: 50%;
        border: 0px solid var(--preview-toggle-icon-color);
        border-width: 0px 1px 1px 0;
        height: 10px;
        width: 10px;
        transform: translate(calc(-50% - -1px), -3px) rotate(45deg);
        transition: border-color 0.15s, transform 0.15s;

        /* Passive size set for the inner arrow. */
        padding: 2px;

        /* Inner arrow */
        &::before {
            content: '';
            display: block;
            border: 0px solid var(--preview-toggle-icon-color);
            border-width: 0px 1px 1px 0;
            height: 100%;
            width: 100%;
            transition: border-color 0.15s;
        }

        .node-preview-toggle.active & {
            transform: translate(calc(-50% - -1px), 3px) rotate(-135deg)
        }
    }
}

.node-preview {
    /* Detached node preview */
    position: relative;
    top: calc(var(--potatno-grid-size) / 2);

    display: flex;
    flex-direction: column;
    padding: 4px;
    border: 1px solid var(--potatno-color-border);
    border-radius: var(--potatno-border-radius);
    background-color: var(--potatno-color-background-dark);
    user-select: none;

    /* Previews can size bigger than the node itself and expanding. Limit the width here. */
    width: calc(var(--potatno-grid-size) * var(--node-width) - 2px);

    /* Small attached line */
    &::before {
        content: '';
        position: absolute;
        top: calc(var(--potatno-grid-size) / -2 - 1px);
        left: 50%;

        display: block;
        height: calc(var(--potatno-grid-size) / 2 - 2px);
        border: 1px solid var(--potatno-color-border);
    }

    .node-preview__window {
        display: flex;
        padding: 6px;
        background: var(--potatno-color-background);
        overflow: hidden;

        /* The whole preview area has a grid height of 6. [6 - toggle-height - select-height] */
        height: calc((var(--potatno-grid-size) * 5.5) - var(--potatno-grid-size));
    }

    .node-preview__selections {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;

        border: 1px solid var(--potatno-color-border);
        border-radius: var(--potatno-border-radius);
        background-color: var(--potatno-color-background-dark);

        /* Height minus border */
        flex-shrink: 0;
        height: 30px;

        .select {
            flex: 1;
            box-sizing: border-box;
            height: 100%;
            min-width: 0;
            padding: 0;
            background: transparent;
            font-size: 14px;
            color: var(--potatno-color-text);

            /* Custom borders for animations*/
            outline: none;
            border: 1px solid transparent;
            transition: border-color 0.15s;

            &:focus {
                border: 1px solid var(--potatno-color-accent);
            }
        }

        .select-button {
            --button-accent-color: var(--potatno-color-accent);
            --button-text-color: var(--potatno-color-text);
            --button-border-color: var(--potatno-color-border);
            --button-background-color: var(--potatno-color-background-light);

            position: relative;
            display: flex;
            flex-shrink: 0;
            height: 100%;
            width: 30px;
            padding: 0;
            font-size: 16px;

            .select-button__button {
                color: var(--potatno-color-text);
            }

            .select-button__options {
                /* Defined as hover window of parent. */
                position: absolute;
                top: calc(100% + 6px);
                left: 0px;
                display: none;

                flex-direction: column;
                background-color: var(--potatno-color-background);
                overflow: hidden auto;
                border: 1px solid var(--potatno-color-border);

                scrollbar-color: var(--potatno-color-scrollbar-thumb) var(--potatno-color-scrollbar-track);
                scrollbar-width: thin;

                .select-button.active & {
                    display: flex;
                }

                .option {
                    display: flex;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 6px 12px 6px 10px;
                    align-items: center;
                    text-align: left;
                    color: var(--potatno-color-text);
                    cursor: pointer;
                    transition: background-color 0.15s, scale 0.15s;

                    &.active,
                    &:active {
                        background-color: var(--potatno-color-background-light);
                    }

                    &:active {
                        scale: 0.98;
                    }

                    .option__icon {
                        display: flex;
                        align-items: center;
                        width: 2ch;
                        height: 16px;
                        padding: 0 10px;

                        text-align: center;

                        /* Border defined to mark selected. */
                        border-left: 4px solid var(--potatno-color-text);
                        border-color: color-mix(in srgb, var(--potatno-color-text) 25%, var(--potatno-color-background));
                        transition: border-color 0.15s;

                        .option:hover & {
                            border-color: var(--potatno-color-text);
                        }

                        .option.selected & {
                            border-color: var(--potatno-color-accent);
                        }
                    }

                    .option__name {
                        flex: 1;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }

        .select__seperator {
            flex-shrink: 0;
            height: 24px;
            width: 2px;
            background-color: var(--potatno-color-border);
        }
    }
}