:host {
    display: flex;
    flex-direction: column;
}

.resize-panel {
    --resize-panel-handle-color: var(--potatno-color-border);
    --resize-panel-handle-hover-color: var(--potatno-color-accent);

    height: 100%;

    /* Set min, max and default width */
    width: 16rem;
    max-width: 32rem;
    min-width: 12rem;

    /* Hopefully that cascade into all childs. */
    font-family: var(--potatno-font-family);
    font-size: var(--potatno-font-size);
}

.panel-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: var(--potatno-border-radius);
    background-color: var(--potatno-color-background-dark);
    overflow: hidden;
}

.function-list {
    flex: 1;
    padding: 0.3rem;
    overflow: hidden auto;

    scrollbar-color: var(--potatno-color-scrollbar-thumb) var(--potatno-color-scrollbar-track);
    scrollbar-width: thin;
}

.function-item {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3rem 0.6rem 0.3rem 0.5rem;
    margin: 0 0 0.3rem 0;
    border-radius: 4px;
    align-items: center;
    text-align: left;
    color: var(--potatno-color-text);
    cursor: pointer;
    transition: background-color 0.15s, scale 0.15s;

    &.active,
    &:active {
        background-color: var(--potatno-color-background-light);
    }

    &:active {
        scale: 0.98;
    }

    .function-item__icon {
        display: flex;
        align-items: center;
        width: 1ch;
        height: 1.5rem;
        padding: 0 0.8rem 0 0.8rem;

        text-align: center;
        font-weight: bold;

        /* Border defined to mark selected. */
        border-left: 0.25rem solid var(--potatno-color-accent);
        border-color: color-mix(in srgb, var(--potatno-color-text) 25%, var(--potatno-color-background));
        transition: border-color 0.15s;

        /* Both colors are hardcoded and dont represent any theme */
        &[data-type=u] {
            color: #008000;
        }

        &[data-type=s] {
            color: #ffd700;
        }

        /* Add type as text. */
        &::before {
            content: attr(data-type);
            text-transform: uppercase;
        }

        .function-item:hover & {
            border-color: var(--potatno-color-text);
        }

        .function-item.active & {
            border-color: var(--potatno-color-accent);
        }
    }

    .function-item__name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .function-item__delete {
        --button-text-color: var(--potatno-color-text);
        --button-accent-color: var(--potatno-color-error);

        width: 1.5rem;
        height: 1.5rem;
    }
}

.list-actions {
    position: relative;
    margin: 0 1rem;
    padding: 1rem 0;
    border-top: 2px solid var(--potatno-color-border);
}

.add-action {
    --button-accent-color: var(--potatno-color-accent);
    --button-text-color: var(--potatno-color-text);
    --button-border-color: var(--potatno-color-border);
    --button-background-color: var(--potatno-color-background-light);
}

.popup {
    --popup-border-color: var(--potatno-color-border);
    --popup-border-radius: var(--potatno-border-radius);
    --popup-shadow-color: var(--potatno-color-shadow);
    --popup-background-color: var(--potatno-color-background-light);

    position: absolute;
    bottom: calc(100% + 1rem);
    left: 0;
    right: 0;

    .popup__header {
        padding: 0.4rem 0rem;
        margin: 0 1rem;
        color: var(--potatno-color-accent);
        border-bottom: 2px solid var(--potatno-color-border);
        text-align: center;
        font-weight: bold;
        user-select: none;
    }

    .popup__list {
        padding: 0.3rem;
    }

    .popup__item {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        padding: 0.3rem 0.6rem 0.3rem 0.5rem;
        margin: 0 0 0.3rem 0;
        border-radius: 4px;
        align-items: center;
        text-align: left;
        color: var(--potatno-color-text);
        cursor: pointer;
        transition: background-color 0.15s, scale 0.15s;

        &:hover {
            background-color: var(--potatno-color-background-light);
        }

        &:active {
            scale: 0.98;
        }

        .icon {
            box-sizing: border-box;
            height: 1.5rem;
            line-height: 1.5rem;


            /* Manually centering shitty function "icon" by offsetting 2px */
            padding: 0 0.8rem 0 0.8rem;

            /* Border defined to mark selected. */
            border-left: 0.25rem solid color-mix(in srgb, var(--potatno-color-text) 25%, var(--potatno-color-background));
            transition: border-color 0.15s;

            .popup__item:active & {
                border-color: var(--potatno-color-accent);
            }
        }
    }
}