:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.resize-box {
    --resize-box-handle-color: var(--potatno-color-border);

    height: 100%;
    background-color: var(--potatno-color-background-dark);

    /* Set min, max and default width */
    width: 250px;
    max-width: 500px;
    min-width: 200px;

    /* Hopefully that cascade into all childs. */
    font-family: var(--potatno-font-family);
    font-size: var(--potatno-font-size);
}

.function-list {
    flex: 1;
    overflow: hidden auto;

    scrollbar-color: var(--potatno-color-scrollbar-thumb) var(--potatno-color-scrollbar-track);
    scrollbar-width: thin;
}

.function-item {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 34px;
    padding: 5px 12px 5px 9px;
    align-items: center;
    text-align: left;
    color: var(--potatno-color-text);
    cursor: pointer;
    transition: background-color 0.15s, scale 0.15s;

    &.active,
    &:active {
        background-color: var(--potatno-color-background-light);
    }

    &:active {
        scale: 0.98;
    }

    .function-item__icon {
        display: flex;
        align-items: center;
        width: 1ch;
        height: 25px;
        padding: 0 10px;

        text-align: center;
        font-weight: bold;

        /* Border defined to mark selected. */
        border-left: 3px solid var(--potatno-color-accent);
        border-color: color-mix(in srgb, var(--potatno-color-text) 25%, var(--potatno-color-background));
        transition: border-color 0.15s;

        /* Both colors are hardcoded and dont represent any theme */
        &[data-type=u] {
            color: #008000;
        }

        &[data-type=s] {
            color: #ffd700;
        }

        /* Add type as text. */
        &::before {
            content: attr(data-type);
            text-transform: uppercase;
        }

        .function-item:hover & {
            border-color: var(--potatno-color-text);
        }

        .function-item.active & {
            border-color: var(--potatno-color-accent);
        }
    }

    .function-item__name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .function-item__delete {
        --button-text-color: var(--potatno-color-text);
        --button-accent-color: var(--potatno-color-error);
        --button-accent-text-color: var(--potatno-color-text-contrast);

        width: 18px;
        height: 18px;
        padding: 0px;
    }
}

.list-actions {
    position: relative;
    padding: 8px;
    border-top: 1px solid var(--potatno-color-border);
}

.add-action {
    --button-accent-color: var(--potatno-color-accent);
    --button-text-color: var(--potatno-color-text);
    --button-border-color: var(--potatno-color-border);
    --button-background-color: var(--potatno-color-background-light);
}

.popup {
    --popup-border-color: var(--potatno-color-border);
    --popup-shadow-color: var(--potatno-color-shadow);
    --popup-background-color: var(--potatno-color-background-light);

    position: absolute;
    bottom: calc(100% + 8px);
    left: 8px;
    right: 8px;

    .popup__header {
        padding: 6px 12px;
        color: var(--potatno-color-text);
        border-bottom: 3px solid var(--potatno-color-border);
        user-select: none;
    }

    .popup__item {
        display: flex;
        align-items: center;
        padding: 5px 12px 5px 9px;
        color: var(--potatno-color-text);
        cursor: pointer;
        transition: color 0.15s, background-color 0.15s, scale 0.15s;

        &:hover {
            color: var(--potatno-color-accent);
        }

        &:active {
            background-color: var(--potatno-color-background);
            scale: 0.98;
        }

        .icon {
            box-sizing: border-box;
            height: 24px;

            /* Manually centering shitty function "icon" by offsetting 2px */
            padding: 2px 10px 0 10px;

            /* Border defined to mark selected. */
            border-left: 3px solid color-mix(in srgb, var(--potatno-color-text) 25%, var(--potatno-color-background));
            transition: border-color 0.15s;

            .popup__item:hover & {
                border-color: var(--potatno-color-accent);
            }
        }
    }
}