:host {
    display: block;
    font-family: var(--potatno-font-family);
    font-size: var(--potatno-font-size);

    /* Default z-index. Gets overridden on zoom out.*/
    z-index: -1;

    --node-border-radius: 2px;
    --node-border-color: color-mix(in srgb, var(--potatno-color-text) 30%, var(--potatno-color-background));
    --node-comment-color: var(--potatno-color-accent);

    /* Hear me out. */
    /* By restricting the height to a single row, the overlapping content does not register or block pointer actions. */
    height: var(--potatno-grid-size);
}

.node {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    overflow: visible;
    user-select: none;

    /* Disable pointer events. Enabled in header and resize handles again. */
    pointer-events: none;

    /* Number is not actually the percentage, more of a state */
    --background-100-color: var(--node-comment-color);
    --background-50-color: color-mix(in srgb, var(--background-100-color) 25%, transparent);
    --background-10-color: color-mix(in srgb, var(--background-100-color) 5%, transparent);

    background-color: var(--background-10-color);
    background-image: linear-gradient(180deg, var(--background-100-color) 0px, var(--background-50-color) calc(var(--potatno-grid-size) * 2), transparent 100%);

    &.edit {
        --node-comment-color: var(--potatno-color-background);
        background-color: var(--potatno-color-background);
    }
}

.node-header {
    display: flex;
    align-items: center;
    color: var(--potatno-color-text-contrast);
    font-weight: bold;
    font-size: var(--potatno-font-size-small);
    cursor: grab;

    /* Disabled in node. Enabled again. */
    pointer-events: all;

    /* Move only the header out of the resize handle visible range. +2 for the exit border so it doesnt shift on edit mode. */
    margin: 3px 3px 0 3px;
    height: calc(var(--potatno-grid-size) - 2px);

    &:active {
        cursor: grabbing;
    }

    .edit & {
        background-color: var(--potatno-color-background-light);
        border: 1px solid var(--potatno-color-accent);
        border-radius: 2px;
        margin: 2px 2px 0 2px;
    }

    .node-header__icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--potatno-grid-size) - 2px);
    }

    .node-header__comment {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .node-header__comment-edit {
        flex: 1;

        /* Completly reset anything. */
        height: 100%;
        min-width: 0;
        padding: 0;
        margin: 0;
        border: none;
        outline: 1px transparent;
        background-color: transparent;

        /* Input boxes override anything :( */
        color: var(--potatno-color-text-contrast);
        font-weight: bold;
        font-size: var(--potatno-font-size-small);
    }
}

.node-body {
    flex: 1;
}

.satellite-view {
    --zoom-factor: 1;
    --comment-node-height: 6;
    --comment-node-width: 6;

    /* Let the text overflow */
    display: none;
    align-items: center;
    justify-content: center;

    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--potatno-grid-size) * var(--comment-node-width));
    height: calc(var(--potatno-grid-size) * var(--comment-node-height));

    /* Disable all interaction. */
    user-select: none;
    pointer-events: none;

    /* Let the text overflow */
    &.enabled {
        display: flex;
    }

    .satellite-view__text {
        /* Ellipsis after 2 lines */
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        /* Automatic sizing text based on zoomlevel. */
        line-height: calc(40px / var(--zoom-factor));
        font-size: calc(40px / var(--zoom-factor));
        font-weight: bold;
        text-align: center;
        text-shadow: 0.05em 0.05em 0.2em #000000;
    }
}