:host {
    display: block;
    font-family: var(--potatno-font-family);
    font-size: var(--potatno-font-size);
    z-index: -1;

    --node-border-radius: 2px;
    --node-border-color: color-mix(in srgb, var(--potatno-color-text) 30%, var(--potatno-color-background));
    --node-comment-color: var(--potatno-color-accent)
}

.node {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    box-shadow: 0 2px 8px var(--potatno-color-shadow);
    overflow: visible;
    user-select: none;

    &.error {
        --resize-box-handle-color: var(--potatno-color-error);
        box-shadow: 0 0 5px 0px var(--potatno-color-error), 0 2px 8px var(--potatno-color-shadow);
    }
}

.node-header {
    display: flex;
    align-items: center;
    color: var(--potatno-color-text);
    background-color: var(--node-comment-color);
    font-weight: bold;
    font-size: var(--potatno-font-size-small);
    cursor: grab;

    /* Move only the header out of the resize handle visible range. */
    margin: 2px 2px 0 2px;
    height: calc(var(--potatno-grid-size) - 2px);

    &:active {
        cursor: grabbing;
    }

    .node-header__icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--potatno-grid-size) - 2px);
        mix-blend-mode: color-dodge;
    }

    .node-header__comment {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        mix-blend-mode: color-dodge;
    }

    .node-header__comment-edit {
        flex: 1;
    }
}

.node-body {
    flex: 1;

    /* Number is not actually the percentage, more of a state */
    --background-100-color: var(--node-comment-color);
    --background-50-color: color-mix(in srgb, var(--background-100-color) 30%, transparent);
    --background-10-color: color-mix(in srgb, var(--background-100-color) 10%, transparent);

    background-color: var(--background-10-color);
    background-image: linear-gradient(180deg, var(--background-100-color) 0%, var(--background-50-color) calc(var(--potatno-grid-size) / 1), transparent calc(var(--potatno-grid-size) * 3));
}