:host {
    display: flex;
    flex-direction: column;
    position: relative;

    --resize-box-handle-color: color-mix(in srgb, var(--potatno-color-text) 30%, var(--potatno-color-background));
    --resize-box-handle-size: 5px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    /* Somehow this fixes overflow. Maybe min is set lower than current content size it is? */
    min-height: 0;
    min-width: 0;
    
    width: 100%;
}

.resize-handle {
    position: absolute;
    transition: border-color 0.15s;
    z-index: 1;

    /*
     * General handle size and cursor for any direction.
     */

    &.corner {
        /* Handle size */
        width: var(--resize-box-handle-size);
        height: var(--resize-box-handle-size);

        &.top.left,
        &.bottom.right {
            cursor: nwse-resize;
        }

        &.top.right,
        &.bottom.left {
            cursor: nesw-resize;
        }
    }

    &.vertical {
        /* Size by spanning top and bottom instead of height */
        top: 0px;
        bottom: 0px;

        /* Handle size */
        width: var(--resize-box-handle-size);

        cursor: ew-resize;

        &.hasPrevious {
            top: calc(5px + var(--resize-box-handle-size));
        }

        &.hasNext {
            bottom: calc(5px + var(--resize-box-handle-size));
        }
    }

    &.horizontal {
        /* Size by spanning left and right instead of height */
        left: 0px;
        right: 0px;

        /* Handle size */
        height: var(--resize-box-handle-size);

        cursor: ns-resize;

        &.hasPrevious {
            left: calc(5px + var(--resize-box-handle-size));
        }

        &.hasNext {
            right: calc(5px + var(--resize-box-handle-size));
        }
    }

    /*
     * Move border into direction.
     */

    &.top {
        top: 0px;
        border-top: 2px solid var(--resize-box-handle-color);
    }

    &.right {
        right: 0px;
        border-right: 2px solid var(--resize-box-handle-color);
    }

    &.bottom {
        bottom: 0px;
        border-bottom: 2px solid var(--resize-box-handle-color);
    }

    &.left {
        left: 0px;
        border-left: 2px solid var(--resize-box-handle-color);
    }

    /*
     * Just animations.
     */

    &:hover {
        border-color: var(--potatno-color-accent);
    }
}