:host {
    --button-accent-color: red;
    --button-text-color: red;
    --button-border-color: red;
    --button-border-radius: 4px;
    --button-background-color: red;

    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    /* Set a default font size the component use for scaling its em values */
    font-size: 1rem;

    /* Shared box. Transparent border keeps every type the same size. */
    padding: 0.4em 0.75em;
    border: 1px solid transparent;
    border-radius: var(--button-border-radius);
    color: var(--button-text-color);
    background-color: transparent;

    /* Smooth transition for all */
    transition: border-color 0.15s, color 0.15s, background-color 0.15s, scale 0.15s;
}

/*
 * Primary & Secondary starting differences.
 */
:host([type=primary]) {
    border-color: var(--button-border-color);
    background-color: var(--button-background-color);
}

:host([type=secondary]) {
    /* Background animation */
    background-color: transparent;
    border-color: transparent;
}

.button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 0.375em;

    &::after {
        position: absolute;
        content: '';
        border-radius: var(--button-border-radius);
        border: 1px solid var(--button-accent-color);
        pointer-events: none;

        transition: top 0.15s, right 0.15s, bottom 0.15s, left 0.15s, opacity 0.15s;

        /* Animation properties */
        opacity: 0;
        top: -0.5em;
        right: -0.5em;
        bottom: -0.5em;
        left: -0.5em;
    }
}

/*
 * Shared user interactions.
 */

:host(:hover),
:host(:active),
:host([selected]:not([selected=false])) {
    color: var(--button-accent-color);

    .button::after {
        opacity: 1;

        /* Actual border. */
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
    }
}

:host(:active) {
    scale: 0.98;
}

:host([selected]:not([selected=false])) {
    color: var(--button-text-color);
    background-color: color-mix(in srgb, var(--button-accent-color) 30%, transparent);
}

@keyframes background-animate {
    from {
        background-position: 0% 0;
    }

    to {
        background-position: 400% 0;
    }
}