:host {
    display: flex;
    flex-direction: column;
}

.resize-panel {
    --resize-panel-handle-color: var(--potatno-color-border);
    --resize-panel-handle-hover-color: var(--potatno-color-accent);

    height: 100%;

    /* Set min, max and default width */
    width: 16rem;
    max-width: 32rem;
    min-width: 12rem;

    /* Hopefully that cascade into all childs. */
    font-family: var(--potatno-font-family);
    font-size: var(--potatno-font-size);
    color: var(--potatno-color-text);
}

.panel-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    border-radius: var(--potatno-border-radius);
    background-color: var(--potatno-color-background-dark);
    overflow: hidden;

    /* Enable content scroll */
    overflow-y: auto;
    overflow-x: visible;
    scrollbar-color: var(--potatno-color-scrollbar-thumb) var(--potatno-color-scrollbar-track);
    scrollbar-width: thin;
}

.section {
    padding: 1rem 0;
    border-bottom: 2px solid var(--potatno-color-border);

    &:first-child {
        padding: 0 0 1rem 0;
    }

    &:last-child {
        border-bottom: none;
    }

    .section__label {
        margin-bottom: 0.375rem;
    }

    .section__empty {
        opacity: 0.5;

        font-size: var(--potatno-font-size-small);
        font-style: italic;
    }

    .section__list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.section-label {
    display: flex;

    span {
        flex: 1;
        font-size: var(--potatno-font-size);
        color: var(--potatno-color-accent);
        text-transform: uppercase;
    }

    .section-label__button {
        --button-accent-color: var(--potatno-color-accent);
        --button-text-color: var(--potatno-color-text);
        --button-border-color: var(--potatno-color-border);
        --button-background-color: var(--potatno-color-background-light);

        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        font-size: 1.5rem;

        /* Hacky shit because unicode icons are ... shit. But im gonna use them anyway.*/
        >div {
            position: relative;
            line-height: 0;
            top: -0.2rem;
        }
    }
}

.list-item {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem;
    background-color: var(--potatno-color-background);
    border-radius: var(--potatno-border-radius);
    gap: 0.4rem;

    transition: left 0.15s ease-in-out, opacity 0.15s ease-in-out;
    position: relative;
    left: 0rem;
    opacity: 1;

    &.new {
        @starting-style {
            left: -1rem;
            opacity: 0;
        }
    }

    .list-item__delete {
        --button-text-color: var(--potatno-color-text);
        --button-accent-color: var(--potatno-color-error);
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.75rem;
    }

    .list-item__text-input {
        /* Hear me out... this max the text input but also allows the select to also grow when no text input is present */
        flex: 1 99999 100%;
        min-width: 2.75rem;

        padding: 0.2rem 0.5rem;
        background-color: var(--potatno-color-background-light);
        font-size: var(--potatno-font-size);
        color: var(--potatno-color-text);
        font: inherit;

        /* Custom borders for animations*/
        border: 1px solid var(--potatno-color-border);
        border-radius: var(--potatno-border-radius);
        outline: none;
        transition: border-color 0.15s;

        &:focus {
            border-color: var(--potatno-color-accent);
        }

        &:disabled {
            border: 1px solid transparent;
            background-color: transparent;
            opacity: 0.5;
            cursor: not-allowed;
        }

        &.error {
            border-color: var(--potatno-color-error);
        }
    }

    .list-item__select-input {
        flex: 1 1 max-content;
        min-width: 2.75rem;
        padding: 0.25rem 0.6rem 0.25rem 0.25rem;
        background-color: var(--potatno-color-background);
        color: var(--potatno-color-text);

        font: inherit;
        font-size: var(--potatno-font-size);

        /* Custom borders for animations*/
        border: 1px solid transparent;
        border-radius: 0;
        outline: none;
        transition: border-color 0.15s;

        &:focus {
            border-color: var(--potatno-color-accent);
            border-width: 1px;
            border-radius: var(--potatno-border-radius);
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    .list-item__text {
        flex: 1;
        padding: 0.3rem 0.3rem;
        font-size: var(--potatno-font-size);

        /* Ellipsis stuff */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .list-item__seperator {
        flex-shrink: 0;
        height: 1.5rem;
        width: 2px;
        background-color: var(--potatno-color-border);
    }

    .list-item__button {
        /* Primary button drives border, background, hover and active states. */
        --button-accent-color: var(--potatno-color-accent);
        --button-text-color: var(--potatno-color-text);
        --button-border-color: var(--potatno-color-border);
        --button-background-color: var(--potatno-color-background-light);

        flex: 0;
        padding: 0.23rem 0.75rem;

        font-size: var(--potatno-font-size);
    }
}