:host {
    font-family: var(--potatno-font-family);
    font-size: var(--potatno-font-size);
}

.editor {
    --window-padding: 6px;

    position: relative;
    display: flex;
    width: calc(100% - (var(--window-padding) * 2));
    height: calc(100% - (var(--window-padding) * 2));
    padding: var(--window-padding);

    /* Global background color */
    background-color: var(--potatno-color-background);

    .editor__center {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;

        /* "Window" design */
        margin: 0 calc(var(--window-padding) / 2) 0 calc(var(--window-padding) / 2);
        border: 1px solid var(--potatno-color-border);
        border-radius: var(--potatno-border-radius);
        overflow: hidden;
    }

    potatno-function-list {
        /* "Window" design */
        margin: 0 calc(var(--window-padding) / 2) 0 0;
        border: 1px solid var(--potatno-color-border);
        border-radius: var(--potatno-border-radius);
        overflow: hidden;
    }

    potatno-function-properties {
        /* "Window" design */
        margin: 0 0 0 calc(var(--window-padding) / 2);
        border: 1px solid var(--potatno-color-border);
        border-radius: var(--potatno-border-radius);
        overflow: hidden;
    }

    .editor__preview {
        position: absolute;
        bottom: 12px;
        right: 12px;
        z-index: 100;

        /* Preview should never overflow the graph window. Set gap to 12px on all sides. */
        max-width: calc(100% - 24px);
        max-height: calc(100% - 24px);
    }

    .editor__graph {
        flex: 1;
    }
}