:host {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    overflow: visible;
    pointer-events: none;
}

.svg-layer {
    position: absolute;
    top: 0;
    left: 0;

    /* For chrome the svg needs at least one pixel to show the drawn inner paths */
    height: 1px;
    width: 1px;

    overflow: visible;
    pointer-events: none;

    .path {
        /* Color set in code. When not set, its a flow port*/
        --potatno-path-color: var(--path-color, var(--potatno-color-text));

        stroke: var(--potatno-path-color);
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
        pointer-events: none;

        .new & {
            /* Animated svg buildup. Calculate "exact" length for a working ease and delay it to match the node port animation. */
            stroke-dasharray: calc(var(--potatno-grid-size) * var(--path-length));
            stroke-dashoffset: calc(var(--potatno-grid-size) * var(--path-length));
            animation: animateDash calc(var(--potatno-connection-animation) * 0.5) cubic-bezier(0, 0.8, 1, 0.2) forwards, animateGlow calc(var(--potatno-connection-animation) * 0.75) ease-out forwards;
            animation-delay: calc(var(--potatno-connection-animation) * 0.125);
        }

        .error & {
            --potatno-path-color: var(--potatno-color-error);
            filter: drop-shadow(0px 0px 2px var(--potatno-path-color));
        }

        &.path--mouse-target {
            stroke: transparent !important;
            stroke-width: 12px;
            pointer-events: stroke;
            cursor: pointer;
        }
    }
}

@keyframes animateDash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes animateGlow {
    0% {
        filter: drop-shadow(0px 0px 0px var(--potatno-path-color));
        stroke: var(--potatno-path-color);
    }

    5% {
        filter: drop-shadow(0px 0px 5px var(--potatno-path-color));
        stroke: color-mix(in srgb, var(--potatno-path-color) 50%, #fff);
    }

    70% {
        filter: drop-shadow(0px 0px 5px var(--potatno-path-color));
        stroke: color-mix(in srgb, var(--potatno-path-color) 50%, #fff);
    }

    100% {
        filter: drop-shadow(0px 0px 0px var(--potatno-path-color));
        stroke: var(--potatno-path-color);
    }
}