:host {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    overflow: visible;
    pointer-events: none;
}

.svg-layer {
    position: absolute;
    top: 0;
    left: 0;

    /* For chrome the svg needs at least one pixel to show the drawn inner paths */
    height: 1px;
    width: 1px;

    overflow: visible;
    pointer-events: none;

    path[data-hit-area] {
        pointer-events: stroke;
    }
}