:host {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    overflow: visible;
    pointer-events: none;
}

.svg-layer {
    position: absolute;
    top: 0;
    left: 0;

    /* For chrome the svg needs at least one pixel to show the drawn inner paths */
    height: 1px;
    width: 1px;

    overflow: visible;
    pointer-events: none;

    .path {
        /* Color set in code. When not set, its a flow port*/
        stroke: var(--path-color, var(--potatno-color-text));

        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
        pointer-events: none;

        .new & {
            /* Animated svg buildup. 100k is big enought for long lines, so a animation itself must run long itself. */
            stroke-dasharray: calc(var(--potatno-grid-size) * var(--path-length));
            stroke-dashoffset: calc(var(--potatno-grid-size) * var(--path-length));
            animation: animateDash 0.5s ease-in-out forwards;
            animation-delay: 0.25s;
        }

        .error & {
            stroke: var(--potatno-color-error);
            filter: drop-shadow(0px 0px 2px var(--potatno-color-error));
        }

        &.path--invalid {
            stroke: var(--potatno-color-error) !important;
            stroke-dasharray: 6 3;
        }

        &.path--mouse-target {
            stroke: transparent;
            stroke-width: 12px;
            pointer-events: stroke;
            cursor: pointer;
        }
    }
}

@keyframes animateDash {
    to {
        stroke-dashoffset: 0;
    }
}