:host {
    display: block;
    font-family: var(--potatno-font-family);
    font-size: var(--potatno-font-size);

    --potatno-port-value-size: 5px;
    --potatno-port-flow-size: 15px;
    --potatno-port-width: max(var(--potatno-port-value-size), var(--potatno-port-flow-size));
}

.node {
    position: relative;
    overflow: visible;
    user-select: none;

    --potatno-port-color: var(--type-color);
}

.drag-area {
    width: var(--potatno-grid-size);
    height: var(--potatno-grid-size);
    cursor: grab;
}

.port {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    width: calc(var(--potatno-grid-size) - 2px);
    height: calc(var(--potatno-grid-size) - 2px);
    cursor: crosshair;

    &:not(.connected) {
        border: 1px dashed var(--potatno-port-color);
    }

    &.error {
        border: 1px dashed var(--potatno-color-error);
    }

    /* Move both port areas left and right. */
    &.input {
        left: -100%;
    }

    &.output {
        right: -100%;
    }

    /* Small hover animation for ports, hover values excluded */
    &:hover {
        &.output .port__handle {
            transform: translateX(1px);
        }

        &.input .port__handle {
            transform: translateX(-1px);
        }
    }

    .port__handle {
        position: absolute;
        transition: transform 0.15s ease-in-out;

        /* Instead of pushing them out reverse it and push them in. */
        .output & {
            left: 0px;
        }

        .input & {
            right: 0px;
        }

        &.flow {
            display: flex;

            &::before {
                content: '';

                height: calc((var(--potatno-port-flow-size) / 3) * 2);
                width: calc((var(--potatno-port-flow-size) / 3) * 2);

                background-color: var(--potatno-port-color);
                border-radius: 2px;
            }

            &::after {
                content: '';
                position: relative;
                height: 0;
                width: 0;

                border-bottom: calc(var(--potatno-port-flow-size) / 3) solid transparent;
                border-top: calc(var(--potatno-port-flow-size) / 3) solid transparent;
            }

            &.connected::before {
                background-color: var(--potatno-port-color);
            }

            &:not(.connected)::before {
                background-color: color-mix(in srgb, var(--potatno-port-color) 30%, var(--potatno-color-background));
            }

            .error &::before {
                background-color: var(--potatno-color-error);
            }

            .output & {
                translate: calc(var(--potatno-port-width) / -2) 0px;

                &::after {
                    right: 1px;
                    border-left: calc(var(--potatno-port-flow-size) / 3) solid var(--potatno-port-color);
                }

                &.connected::after {
                    border-left-color: var(--potatno-port-color);
                }

                &:not(.connected)::after {
                    border-left-color: color-mix(in srgb, var(--potatno-port-color) 30%, var(--potatno-color-background));
                }

                .error &::after {
                    border-left-color: var(--potatno-color-error);
                }
            }

            .input & {
                translate: calc(var(--potatno-port-width) / 2) 0px;
                flex-direction: row-reverse;

                &::after {
                    left: 1px;
                    border-right: calc(var(--potatno-port-flow-size) / 3) solid var(--potatno-port-color);
                }

                &.connected::after {
                    border-right-color: var(--potatno-port-color);
                }

                &:not(.connected)::after {
                    border-right-color: color-mix(in srgb, var(--potatno-port-color, ) 30%, var(--potatno-color-background));
                }

                .error &::after {
                    border-right-color: var(--potatno-color-error);
                }
            }
        }

        &.value {
            background-color: var(--potatno-port-color);
            border: 1px solid var(--potatno-port-color);
            border-radius: 50%;
            height: calc(var(--potatno-port-value-size) - 1px);
            width: calc(var(--potatno-port-value-size) - 1px);
            background-color: color-mix(in srgb, var(--potatno-port-color) 30%, var(--potatno-color-background));

            &.connected {
                background-color: var(--potatno-port-color);
            }

            .output & {
                translate: -50% 0px;
            }

            .input & {
                translate: 50% 0px;
            }

            .error & {
                background-color: var(--potatno-color-error);
                border-color: var(--potatno-color-error);
            }
        }
    }
}

.port-drag-connection {
    position: absolute;
    top: 0;
    height: 1px;
    width: 1px;
    overflow: visible;
    pointer-events: none;

    /* While dragging should stay above all nodes. */
    z-index: 200;

    path {
        fill: none;
        opacity: 0.6;
        pointer-events: none;
        stroke: var(--potatno-port-color);
        stroke-dasharray: 8 4;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
    }
}