:host {
    /* Globals */
    --potatno-grid-size: 24px;
    
    /* Font */
    --potatno-font-size: 0.75rem;
    --potatno-font-size-big: 0.8rem;
    --potatno-font-size-small: 0.7rem;
    --potatno-font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;

    /* Main colors */
    --potatno-color-background: #232323;
    --potatno-color-background-dark: #1c1c1c;
    --potatno-color-background-light: #313131;
    --potatno-color-text: #c8c8c8;
    --potatno-color-text-contrast: #ffffff;
    --potatno-color-accent: #20be20;
    --potatno-color-border: #444444;

    /* Supporting colors */
    --potatno-color-error: #ff5555;
    --potatno-color-shadow: rgba(0, 0, 0, 0.69);

    /* Scrollbar */
    --potatno-color-scrollbar-thumb: #5e5e5e;
    --potatno-color-scrollbar-track: transparent;

    /* Special animation speed */
    --potatno-connection-animation: 1.3s;
}