:host {
    /* Somehow this needs to be flex or we get an nasty overflow. */
    display: flex;
    flex-direction: column;
}

.resize-box {
    /* Set min sizes to restrict resizing. */
    min-height: 150px;
    min-width: 200px;

    /* Globaly restrict to max size of parent. */
    max-width: 100%;
    max-height: 100%;

    background: var(--potatno-color-background);
    border: 1px solid var(--potatno-color-border);
    border-width: 0 1px 1px 0;
    box-shadow: 0 4px 12px var(--potatno-color-shadow);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--potatno-color-border);
    background: var(--potatno-color-background-light);
    overflow: hidden;

    .header__tabs {
        display: flex;

        /* Cascaded into childs. */
        font-family: var(--potatno-font-family);
        font-size: var(--potatno-font-size-small);
        text-transform: uppercase;
        color: var(--potatno-color-text);

        .tab {
            --tab-selected-color: color-mix(in srgb, var(--potatno-color-accent) 25%, transparent);
            --tab-selected-background: linear-gradient(1deg, var(--tab-selected-color) 0%, transparent 45%);

            margin: 3px;
            padding: 7px 15px 7px 15px;
            border-radius: 2px;
            cursor: pointer;
            
            &:hover {
                background: var(--tab-selected-background);
            }

            &:active {
                background: var(--tab-selected-color);
            }

            &.selected {
                background: var(--tab-selected-color);

                /* The background gets lighter, the color should too. */
                color: color-mix(in srgb, var(--potatno-color-text) 75%, #fff);
            }

            &.tab--error {
                color: var(--potatno-color-error);
            }
        }
    }

    .header__selectors {
        display: flex;
        gap: 6px;
        padding: 0px 12px;

        >select {
            padding: 4px 8px;

            font-family: var(--potatno-font-family);
            font-size: var(--potatno-font-size-small);

            background: var(--potatno-color-background-light);
            color: var(--potatno-color-text);

            border: 1px solid var(--potatno-color-border);
            border-radius: 3px;
        }
    }
}

.content {
    flex: 1;
    padding: 4px;
    background: var(--potatno-color-background);
    overflow: auto;

    scrollbar-color: var(--potatno-color-scrollbar-thumb) var(--potatno-color-scrollbar-track);
    scrollbar-width: thin;
}

.error-item {
    display: flex;
    align-items: stretch;
    padding: 5px;

    .error-item__icon {
        display: flex;
        align-items: center;

        color: var(--potatno-color-error);
        font-size: 18px;
        font-weight: bold;
        padding: 0 10px 0 10px;

        border-left: 3px solid var(--potatno-color-error);
    }

    .error-item__content {
        flex: 1;
    }

    .error-item__message {
        color: var(--potatno-color-text);
        font-size: var(--potatno-font-size);
    }

    .error-item__location {
        font-size: var(--potatno-font-size-small);
        margin-top: 2px;

        /* Darken text color by mixing in the background color */
        color: color-mix(in srgb, var(--potatno-color-text) 50%, var(--potatno-color-background));
    }
}