:host {
    display: flex;
    flex: 1;
    min-height: 0;
    min-width: 0;
}

.canvas-wrapper {
    position: relative;
    flex: 1;
    min-height: 0;
    min-width: 0;
    background-color: var(--potatno-color-background);
    overflow: hidden;
}

.grid {
    position: absolute;
    top: 0;
    left: 0;

    .grid__node {
        position: absolute;
        border-radius: 2px;

        &.selected {
            outline: 2px solid var(--potatno-color-accent);
        }
    }
}



.selection-box {
    position: absolute;
    background-color: color-mix(in srgb, var(--potatno-color-accent) 20%, transparent);
    border: 1px solid var(--potatno-color-accent);
    pointer-events: none;
    z-index: 1000;
}