:host {
    display: flex;
    flex: 1;
    min-height: 0;
    min-width: 0;
    position: relative;
}

.canvas-wrapper {
    background: var(--potatno-color-background);
    cursor: default;
    flex: 1;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    position: relative;
}

.grid-layer {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
}

.node-layer {
    position: absolute;
    top: 0;
    left: 0;
}

.node-position {
    position: absolute;
}

.selection-box {
    background: var(--pn-selection-color);
    border: 1px solid var(--potatno-color-accent);
    pointer-events: none;
    position: absolute;
    z-index: 1000;
}


